---
import CSharp from "../icons/CSharp.astro";
import Unity from "../icons/Unity.astro";

const TAGS = {
  NEXT: {
    name: "C#",
    class: "bg-black text-white",
    icon: CSharp,
  },
  TAILWIND: {
    name: "Unity",
    class: "bg-[#003159] text-white",
    icon: Unity,
  },
};
const PROJECTS = [
  {
    title: "Peblobs",
    description: "Videojuego creado tres meses ",
    link: "https://ceri10.itch.io/peblobs",
    github: "https://github.com/Ceri-10/PeblobsRepository",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },

  {
    title: "DataPortal",
    description: "Videojuego creado tres meses ",
    link: "https://ceri10.itch.io/peblobs",
    github: "https://github.com/Ceri-10/PeblobsRepository",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-blue-400 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
